.main {
    display: flex;
    flex-direction: column;
    align-items: center
}
.contactsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
 
  
}

.label {
    margin-bottom: 0px;
    color: #424242;
}