.label {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.input {
    padding: 10px;
    border: 0px;
    max-width: 800px;
    min-width: 580px;
}
.label:hover {
    border: 0px;
}